.bg-green-bta {
    background-color: #6D929B;
}

html {
    font-size: 14px;
}


/*@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
*/
html {
  position: relative;
  min-height: 100%;
}

body {    
    max-width: 1200px;
    margin: 0 auto 60px auto;     
}

footer{
    max-width: 1200px;
}
/*Search bar*/
.search-bar {
    display: grid;
    grid-area: search-bar;
    width: 100%;
    background-color: #C1DAD6;
    justify-content: end;
    height: 50px;
}
/*.input-book-search {
    width: 150px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
}*/

.search-bar-submit {
    background-color: #E8D0A9;
    width: 100px;
    height: 30px;
    margin-right: 15px;
    margin-top: 6px;
    margin-bottom: 6px;
    color: #6D929B;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2rem;
}

@media (max-width: 484px) {
    html {
        font-size: 16px;
    }

    search-bar {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        background-color: #C1DAD6;
        justify-items: center;
    }

    .search-form-bar {
        display: grid;
        width: 90%;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .search-bar-input-title {
        grid-row: 1/2;
        width: 100%;
        margin-top: 6px;
    }

    .search-bar-input-author {
        grid-row: 2/3;
        width: 100%;
        margin-top: 6px;
    }

    .search-bar-submit {
        grid-row: 3/4;
        width: 100%;
        margin-top: 6px;
    }
}

@media (min-width: 484px) {
    html {
        font-size: 16px;
    }

    search-bar {
        display: grid;
        width: 100%;
        height: auto;
        grid-template-columns: 1fr;
        background-color: #C1DAD6;
        justify-items: center;
    }

    .search-form-bar {
        display: grid;
        width: 90%;
        grid-template-columns: 1fr 1fr 1fr;
        padding-top: 1rem;
        padding-bottom: 1rem;
        column-gap: 2rem;
    }

    .search-bar-input-title {
        grid-column: 1/2;
        width: 100%;
        margin-top: 6px;
    }

    .search-bar-input-author {
        grid-column: 2/3;
        width: 100%;
        margin-top: 6px;
    }

    .search-bar-submit {
        grid-column: 3/4;
        width: 100%;
        margin-top: 6px;
    }
}
